@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
  background: #0f1624;
  color: hsl(204, 23.8%, 95.9%);
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Space Grotesk", sans-serif;
}

li {
  list-style: none;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    rgba(255, 255, 255, 0.75) -78.47%,
    #0f1624 91.61%
  );
}

.bg-black-text {
  background: linear-gradient(
    121.57deg,
    #ffffff 18.77%,
    rgba(255, 255, 255, 0.66) 60.15%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-button {
  background:linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
}

.divider {
  background: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
}

.some-styles {
  scrollbar-width: none;
}

.some-styles :first-of-type ::-webkit-scrollbar {
  margin-left: 0px;
}
.some-styles::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 640px) {
  .card ::nth-child(2n) {
    grid-row: 2;
  }
}
